html,
body {
    margin:0px;
    background-color:#525E75;
    color:#F1DDBF;
}


a,
a:active,
a:link {
    color:#F1DDBF;
    font-size: 18px;
    font-weight: 700;
}

a.hover{
    color: aliceblue;
}

.no-margin{
    margin:0px;
    padding:0px;
}