<canvas id="myChart" style="width:100%;max-width:500px"></canvas>
<script>
// function renderchart() {
//   var ctx = document.getElementById("myChart").getContext("2d")
//   var optionsNoAnimation = {animation: false}
//   var xValues = days;
//   var yValues = population;
//   new Chart(ctx, {
//     type: "line",
//     data: {
//       labels: xValues,
//       datasets: [{
//         backgroundColor: "rgba(0,0,0,1)",
//         borderColor: "rgba(0,0,0,0.1)",
//         data: yValues
//       }]
//     },
//     options:{
//       responsive: true,
//       scales: {
//         y: {
//             min: 0,
//             max: 20,
//             // ticks: {
//             //     stepSize: 0.5
//             // }
//         }
//     }}
//   });
// }
</script>
